# Prevent git from messing around with line endings.
* -text

# NOTE: Visual Studio does not respect the end-of-line settings in
#   .editorconfig for .csproj files (and sometimes not for .cs files
#   as well). So, we let git handle this and just say that the end-of-line
#   characters should match the platform (Windows or Linx/Unix/macOS).
#   See .editorconfig for more details.
*.cs text=auto
*.csproj text=auto
