##############################################################################
#
# This file defines paths/files that are ignored by Git.
#
# Tutorial: https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#_ignoring
#
# File pattern format: https://git-scm.com/docs/gitignore#_pattern_format
#
# Useful .gitignore templates: https://github.com/github/gitignore
#
# Official documentation: https://git-scm.com/docs/gitignore
#
##############################################################################

#
# Common ignores
#

# Log files
*.log
# Temporary files
*.tmp
# User files
# See: https://en.wikipedia.org/wiki/.DS_Store
.DS_Store


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#
# Visual Studio ignores
#

# Visual Studio user and temporary files
.vs/
*.user
*.suo

# Build output directories
**/bin/Debug/
**/bin/Release/
# Build intermediate directories
**/obj/

# Test results from 'dotnet test'
**/TestResults/*.trx

# ReSharper cache
_ReSharper.Caches/

# Launch settings for projects
launchSettings.json

# Generated NuGet packages
*.nupkg
build-packages/


#
# Repository custom ignores
#
